html, body {
  height: 100%;
  width: 100%;
  background-color: #386641;
}
.myTitle{
  background-color:#6A994E;
  color: #F2E8CF;
  font-size: 36px;
  text-align: center;
  padding: 10px;
  margin: auto;
  width: 60%;
  border: 5px solid #BC4749;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
